@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecruitmentProcessManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecruitmentProcessManagement.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RP Management</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Position" asp-action="Index">Jobs</a>
                            </li>
                            @if (User.IsInRole("Admin") || User.IsInRole("Recruiter"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="BulkHiring" asp-action="UploadBulkCandidates">Bulk Hiring</a>
                                </li>
                            }
                        }

                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                    Manage
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Administration"
                                    asp-action="ListUsers">Users</a>
                                    <a class="dropdown-item" asp-controller="Administration"
                                    asp-action="ListRoles">Roles</a>
                                </ul>
                            </li>
                        }

                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            @if (User.IsInRole("Admin") || User.IsInRole("Interviewer") || User.IsInRole("HR"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                        Interview
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Interview"
                                        asp-action="ScheduleInterview">Schedule</a>
                                        <a class="dropdown-item" asp-controller="Interview"
                                        asp-action="Manageinterviews">Manage</a>
                                        <a class="dropdown-item" asp-controller="Interviewer"
                                        asp-action="Index">Add Interviewers</a>
                                    </ul>
                                </li>
                            }
                        }

                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("Interviewer") || User.IsInRole("HR"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                        Candidate Review
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="CandidateReview"
                                        asp-action="Index">Candidate Reviews</a>
                                        <a class="dropdown-item" asp-controller="CandidateReview"
                                        asp-action="ReviewCandidate">Review Candidate</a>
                                    </ul>
                                </li>
                            }
                        }

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Candidate Document
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="CandidateDocument"
                                       asp-action="CandidateDashboard">Dashboard</a>
                                    @if (User.IsInRole("Admin") || User.IsInRole("HR") || User.IsInRole("Reviewer"))
                                       {
                                           <a class="dropdown-item" asp-controller="CandidateDocument"
                                              asp-action="HRDashboard">HR Dashboard</a>
                                       }
                                </ul>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @*If the user is signed-in then only display Logout link*@
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" 
                                                height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16
                                                0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 
                                                8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                                    </svg> Profile
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Account"
                                       asp-action="MyProfile">MyProfile</a>

                                    <a class="dropdown-item" asp-controller="Account"
                                       asp-action="EditProfile">EditProfile</a>

                                    <form method="post" asp-controller="Account" asp-action="Logout">
                                        <button type="submit" class="dropdown-item" aria-labelledby="navbarDropdownMenuLink">
                                            SignOut
                                        </button>
                                    </form>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Register">
                                    Register
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">
                                    Login
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div id="notifications">
                @if (ViewBag.Notifications != null)
                {
                    @foreach (var notification in ViewBag.Notifications)
                    {
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            @notification.Message
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - RecruitmentProcessManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
