<form asp-action="RescheduleInterview" method="post">
    <input type="hidden" name="interviewId" value="@Model.InterviewID" />
    <label>New Date:</label>
    <input type="datetime-local" name="newDate" class="form-control" required />
    <button type="submit" class="btn btn-warning">Reschedule</button>
</form>

<form asp-action="CancelInterview" method="post">
    <input type="hidden" name="interviewId" value="@Model.InterviewID" />
    <button type="submit" class="btn btn-danger">Cancel Interview</button>
</form>